// Bootstrap
// You can customize the font
// See: https://getbootstrap.com/docs/4.4/getting-started/theming/

@import 'src/scss/Global.scss';
@import 'src/scss/Mixins.scss';

@include media-breakpoint-up(md) {
    #mainCol {
        --bs-border-opacity: 1;
        border-color: rgba(var(--bs-light-rgb), var(--bs-border-opacity)) !important;
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
