@mixin square($size) {
    width: $size;
    height: $size;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin zeroall {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
